body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

table, td, tr {
    border: 0px solid black;
    padding: 5px;
    margin-left: 20px;
    width: 100%;
}